<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h2>List of Properties</h2>
        <hr />
    </div>
</div>

<div class="row container">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <div class="col-4 mb-2" *ngFor="let propertie of properties">
                <div class="card">
                    <app-mini-map [lnglat]="propertie.lngLat" class="card-img-top"></app-mini-map>
                    <div class="card-body">
                        <h5 class="card-title">{{ propertie.title }}</h5>
                        <p class="card-text">{{ propertie.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
